<% @project ||= Project.new %>
<div class="main_area">
	<div class="main_left">
		<ul class="projects">
			<li class="project">
				<%= link_to "All Tasks", "" %>
			</li>
			<%= render :partial => '/projects/project', :collection => Project.all %>
		</ul>
	
		<% if logged_in? %>
			<div class="new_project">
				<div class="form_wrapper">
					<%= form_for @project do |f| %>
						<div class="field">
							<%= f.text_field :title, :class => "text" %>&nbsp;↵
						</div>
					<% end %>
				</div>
			</div>
		<% end %>

	</div>

	<div class="main_center">
		<%= render :partial => "/main/new_task" %>
		<%= render :partial => "/main/task_list" %>
	</div>
</div>
