<% task ||= @task %>
<%= content_tag_for :li, task do %>
	<div class="assign">
		<%= task.user.name %><%= " ▶ #{task.worker.name}" unless task.worker.blank? %>
	</div>
	<div class="content">
		<%= truncate(auto_link(task.content), :length => 88).html_safe %>
		<%# auto_link(task.content) %>

		<%# doc = Nokogiri::HTML.parse(auto_link(task.content)) %>
		<%# doc.at("//body") %>
		<%# doc.at("//body").children.each do |c| %>
			<%# "@@@#{c.text}@@@" %>
		<%# end %>
	</div>
	<div class="created_at">
		<%= "#{time_ago_in_words(task.created_at)} ago" %>
	</div>
	<div class="actions left">
		<%= link_to "edit", edit_task_path(task), :remote => true %>
	</div>
	<div class="actions">
		<% if task.todo? %>
			<%= link_to "take", take_task_path(task), :method => :post %>
		<% elsif task.doing? %>
			<%= link_to "done", done_task_path(task), :method => :post %>
		<% end %>

		<%= link_to "drop", drop_task_path(task), :method => :post, :confirm => "#{"Sure?" if task.todo?}" %>
	</div>
<% end %>
