<% task ||= @task %>
<%= content_tag_for :li, task do %>
	<div class="assign">
		<%= task.user.name %><%= " ▶ #{task.worker.name}" unless task.worker.blank? %>
	</div>
	<div class="content">
		<%= truncate(task.content, :length => 60) %>
	</div>
	<div class="created_at">
		<%= "#{time_ago_in_words(task.created_at)} ago" %>
	</div>
	<div class="actions left">
		<%= link_to "edit", edit_task_path(task), :remote => true %>
	</div>
	<div class="actions">
		<%= link_to "take", take_task_path(task) %>
		<%= link_to "drop", task, :confirm => "Are you sure delete?", :method => :delete %>
	</div>
<% end %>
