<% task ||= @task %>
<%= content_tag_for :li, task do %>
	<div class="assign">
		<%= task.user.name %><%= " ▶ #{task.worker.name}" unless task.worker.blank? %>
	</div>
	<div class="content">
		<%= truncate(task.content, :length => 88) %>
	</div>
	<div class="created_at">
		<%= "#{time_ago_in_words(task.created_at)} ago" %>
	</div>
	<div class="actions left">
		<%= link_to "edit", edit_task_path(task), :remote => true %>
	</div>
	<div class="actions">
		<% if task.todo? %>
			<%= link_to "take", take_task_path(task), :method => :post %>
			<%= link_to "del", task, :confirm => "Are you sure delete?", :method => :delete %>
		<% elsif task.doing? %>
			<%= link_to "done", done_task_path(task), :method => :post %>
			<%= link_to "drop", drop_task_path(task), :method => :post %>
		<% else %>
			<%= link_to "drop", drop_task_path(task), :method => :post %>
		<% end %>
	</div>
<% end %>
