<%= content_tag_for :li, @project do %>
	<div class="form_wrapper">
		<%= form_for @project, :remote => true do |f| %>
			<div class="field inline">
				<%= f.text_field :title, :class => "text focus" %>
			</div>
			<div class="actions inline">
				<%= f.submit("↵", :class => "left_float_submit") %>
				<%= link_to "c", cancel_project_path(@project), :remote => true %>
			</div>
		<% end %>
	</div>
<% end %>

<script>
	$(document).ready(function() {
		$("#<%= dom_id(@project) %>").find(".focus").select();
	});
</script>
