<div class="main_area">
	<div class="main_left">
		<ul class="projects">
			<li class="project">
				<div class="title">
					<%= link_to "All Tasks", projects_path, :class => "#{'selected' if @project.blank? }" %>
					[<%= Task.all.length %>]
				</div>
			</li>
			<%= render :partial => '/projects/project', :collection => Project.find(:all, :order => "id desc") %>
		</ul>
	
		<% if logged_in? %>
			<div class="form_wrapper new_project">
				<%= form_for Project.new do |f| %>
					<div class="field inline">
						<%= f.text_field :title, :class => "text" %>
					</div>
					<div class="actions inline">
						<%= f.submit("↵", :class => "left_float_submit") %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>

	<div class="main_center">
		<%= render :partial => "/tasks/new_task" %>
		<%= render :partial => "/tasks/task_list" %>
	</div>
</div> <!-- main_area -->
