<!DOCTYPE html>
<html>
<head>
  <title>CmmTodo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="flash_messages">
    <%= flash_messages %>
  </div>

  <div id="header">
		<div class="site_name">
			<%= link_to SiteName, root_path %>
		</div>
		<div class="login_menu">
			<% if logged_in? %>
				<%= link_to "(#{@current_user.login})Logout", logout_path %>
				<%= link_to "UserInfo", user_path(@current_user) %>
			<% else %>
				<%= link_to "Login", login_path %>
				<%= link_to "Signup", new_user_path %>
			<% end %>
		</div>
  </div>

  <div id="section">
    <%= yield %>
  </div>

  <div id="footer">
		<div class="logo">
			<%= link_to "Code Makes Me", "http://codemakes.me" %><%= link_to "ToDo.", "http://github.com/asbubam/cmm_todo", :class => "red" %>
		</div>
 </div>

</body>
</html>
